




div.bodydiv {
    display: block;
    background: url("../img/StoneTile.png") repeat;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	background-color:#ffffff;
    font-family: 'Courier New',Courier,monospace;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 0.0em;
    padding-bottom: 100em;
    border-left:saddlebrown solid 4px;
    border-right:saddlebrown solid 4px;
    border-top:saddlebrown solid 4px;
}
div.hiddendiv {display:none}
body{
align:center;
    margin-right:auto;
    font-family: 'Courier New',Courier,monospace;
    color:ghostwhite;
    text-shadow: 1px 0px 0px;
    background: url("../img/indexbackgroundMC.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#ffffff;
        

}



div.title{
    margin-top: -.5em;
    margin-left: -.5em;
    padding-bottom: -1em;
    alignment-baseline: before-edge;
    background-color:#ffffff;
    border: saddlebrown inset .3em;
    background: url("../img/MCtitlebar.jpg") ;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-color:#ffffff;
    
    
    
   
   
          

}
div.titlebackground
{
    
}
div.navbar{
    margin-top: -.10em;
    margin-left: -.5em;
    padding-bottom: -1em;
    alignment-baseline: before-edge;
    background-color:#ffffff;
    border: saddlebrown inset .3em;
    background: url("../img/sky.png") ;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-color:#ffffff;
    
    
    
   
   
          

}
div.button
{
    display: inline-block;
    margin-top: -.10em;
    margin-left: .0em;
    padding-right: .2em ;
    padding-left: .2em;
    alignment-baseline: before-edge;
    background-color:#ffffff;
    color: #ffffff;
    border: saddlebrown solid .2em;

	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-color:#87C5FF;
}

div.form
{
    margin-top:  8em;
    margin-left: 6em;
}

div.errdiv
{
    margin-bottom: -5em;
    margin-left: 0em;
    padding-bottom: -1em;
    alignment-baseline: before-edge;
    background: url("../img/lava.gif") ;
    border: saddlebrown inset .3em;

    
}
div.sucdiv
{

margin-bottom: -5em;
    margin-left: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    alignment-baseline: before-edge;
    background: url("../img/diamond.jpg") ;
    border: saddlebrown inset .3em;  
    -moz-background-size:130% 100%;
-webkit-background-size:130% 100%;
background-size:130% 100%;
background-position: center ;

}
select
{
    background-color: lightslategray;
    color: white;
    border: #888 solid;

    
}
input
{
    background-color: lightslategray;
    color: white;
    border: #888 solid;

    
}
textarea
{
    background-color: lightslategray;
    color: white;
    border: #888 solid;
    
}


a{text-decoration: none; color: inherit;}
h1.title {text-align:center; font-variant:all-caps; font-size:400%; color: #888; line-height:0;background-color: #ffffff;text-shadow:3px 3px 1px gainsboro}
h1.sponsor {text-align:center; font-variant:all-caps; font-size:150%; color:#5526a6; line-height:1;}
h2.subtitle {text-align:center; font-variant:all-caps; font-size:50%; color:#5526a6;}
h3.bodytitle {text-align: center;}
h3.err {text-align: center; color: #7023B1; background: url("../img/obsidian.png"); }
h3.suc {text-align: center; color: black; background: url("../img/diamondblock.jpg"); }
p.missionstatement{text-align:center; font-variant:all-caps; font-size:120%; font-weight:bold; color:#5526a6; background:#000000;}
p.body{text-align:left; padding-left: 12px; font-size: 12px}
table.sales {border: 8px; border-style:groove; border-color: #451B85 ;background:#000000;}
th.sales {font-weight:900;font-size:25pt;color:#451B85;}
td.sales {border-style:groove; border-color:#451B85; font-family:impact; line-height:2; letter-spacing:1px; text-align:center;color:#451B85;}







img.PortraitCenter {width:380px;height:auto;display:block;margin-left:auto;margin-right:auto; border:8px ridge #451B85;}
img.thumbnail{width:180px;height:180px;}